<h1>Cookbook</h1>
<%= link_to 'Enviar uma receita', new_recipe_path %>

<% @recipes.each do |recipe| %>
  <h3><%= link_to recipe.title, recipe_path(recipe) %></h3>

    <li><%= recipe.recipe_type %></li>
    <li><%= recipe.cuisine %></li>
    <li><%= recipe.difficulty %></li>
    <li><%= recipe.cook_time %></li>
  </ul>
<% end %>
