<!DOCTYPE html>
<html>

  <head>
    <title>CookbookSozinho</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/alerts' %>

    <nav>
      <% if user_signed_in? && current_user.admin %>
        <%= link_to 'Enviar tipo de receita', new_recipe_type_path %>
        <%= link_to 'Enviar cozinha', new_cuisine_path %>
        <%= link_to 'Receitas pendentes', pending_recipes_path %>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to 'Enviar uma receita', new_recipe_path %>
        <%= link_to 'Minhas Receitas', user_recipes_path %>
        <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Fazer cadastro', new_user_registration_path %>
        <%= link_to 'Entrar', new_user_session_path %>
      <% end %>
    </nav>

    <%= yield %>
  </body>

</html>
